<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static',filename='css/icons.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{url_for('static',filename='css/app.min.css')}}"
      rel="stylesheet"
      type="text/css"
      id="light-style"
    />
    <link
      href="{{url_for('static',filename='css/app-dark.min.css')}}"
      rel="stylesheet"
      type="text/css"
      id="dark-style"
    />
    <title>Hyper E-Commerce</title>
  </head>
  <body
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
  >
    <div>{% block content %}{% endblock %}</div>

    <script src="{{url_for('static',filename='js/vendor.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/demo.dashboard.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
  </body>
</html>
